@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Dosis:wght@200..800&display=swap");
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
}
